## Problem 3 - Data analysis (4 points)

In this problem we will explore our temperature data by comparing spring temperatures between Helsinki Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic pandas functions. Please perform the tasks below by writing your code into the codeblocks in each section.

### Tips for completing this problem

- Use **exactly** the same variable names as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-5-problem-3.ipynb` file (this file).
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail. 

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the median temperatures for Mactan and Hinatuan for March-May of 2018
- Selecting temperatures for April and December 2018 in separate dataframes for each location
- Printing out some summary values for each month (April, December) and location (Mactan, Hinatuan)
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

### Part 1 (0 points)

First, you need to load the data from Problem 2.

- Read in the csv files generated in Problem 2 to the variables `mactan` and `hinatuan`

In [1]:
mactan = None
hinatuan = None

# YOUR CODE HERE
import pandas as pd

# fp and fp2 define the filepaths of the input files from Problem 2
# pd.read_csv reads the input files in this notebook
fp = "Mactan_temps_2019-01_2020-12.csv"
mactan = pd.read_csv(fp)

fp2 = "Rovaniemi_temps_2019-01_2020-12.csv"
hinatuan = pd.read_csv(fp2)

In [2]:
print(mactan.head())
print('')
print(hinatuan.head())

   Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
0           0  RPM00098646  2017-01-01  79.70  86.00    NaN       26
1           1  RPM00098646  2017-01-02  79.88  85.64    NaN       27
2           2  RPM00098646  2017-01-03  82.40  88.52  76.64       28
3           3  RPM00098646  2017-01-04  82.04  89.24    NaN       28
4           4  RPM00098646  2017-01-05  81.32  88.52  77.00       27

   Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
0        1461  RP000098755  2017-01-01  80.06  84.20  75.20       27
1        1462  RP000098755  2017-01-02  80.78  85.64  75.92       27
2        1463  RP000098755  2017-01-03  79.88  85.28    NaN       27
3        1464  RP000098755  2017-01-04  80.60  86.36  75.38       27
4        1465  RP000098755  2017-01-05  77.72  89.06    NaN       25

### Part 2 (1 points)

Next you can find some median temperature values for the period the data covers.

- What was the median Celsius temperature during the observed period in:
    - Mactan, Cebu? (store the answer in a variable `mactan_median`)
    - Hinatuan, Surigao del Sur? (store the answer in a variable `hinatuan_median`)

In [3]:
mactan_median = None
hinatuan_median = None

# YOUR CODE HERE
# median() functions determines the median values in the given data
mactan_median = mactan["Celsius"].median()
hinatuan_median = hinatuan["Celsius"].median()

In [4]:
# Prints the median temperatures
print(f"Mactan median: {mactan_median}")
print(f"Hinatuan median: {hinatuan_median}")

Mactan median: 28.0
Hinatuan median: 27.0

### Part 3 (2 points)

The median temperatures above consider data from the entire "summer" (Mar-May), hence the differences might not be so clear. Let's now find out the mean temperatures from March and May 2018 in Mactan and Hinatuan.

- From the `mactan` and `hinatuan` DataFrames, select the rows where values of the `DATE` column are from March 2018
    - Assign these selected rows into the variables `mactan_mar` and `hinatuan_mar` (you can check the [hints](https://geo-python.github.io/site/lessons/L5/exercise-5.html) for help!)
- Repeat the procedure for the month of May and assign those values into variables to `mactan_may` and `hinatuan_may`

In [5]:
# Select the subset of the Mactan and Hinatuan data for the 3rd and 5th month
mactan_mar = None
hinatuan_mar = None

mactan_may = None
hinatuan_may = None

# YOUR CODE HERE
# The data from March and May in both mactan and hinatuan were assigned to their respective variables
# Unfortunately, we encountered some errors with the symbols for unknown reason, thus we opted to separate the data from March and May
mactan_mar = mactan.loc[mactan['DATE'] >= '2018-03-01']
mactan_mar = mactan.loc[mactan['DATE'] <= '2018-03-31']
hinatuan_mar = hinatuan.loc[hinatuan['DATE'] >= '2018-03-01']
hinatuan_mar = hinatuan.loc[hinatuan['DATE'] <= '2018-03-31']

mactan_may = mactan.loc[mactan['DATE'] >= '2018-05-01']
mactan_may = mactan.loc[mactan['DATE'] <= '2018-05-31']
hinatuan_may = hinatuan.loc[hinatuan['DATE'] >= '2018-05-01']
hinatuan_may = hinatuan.loc[hinatuan['DATE'] <= '2018-05-31']

Check that the subsets look ok:

In [6]:
print(f"First values in March, Mactan:\n{mactan_mar.head()}\n")
print(f"Last values in March, Mactan:\n{mactan_mar.tail()}")

First values in March, Mactan:
   Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
0           0  RPM00098646  2017-01-01  79.70  86.00    NaN       26
1           1  RPM00098646  2017-01-02  79.88  85.64    NaN       27
2           2  RPM00098646  2017-01-03  82.40  88.52  76.64       28
3           3  RPM00098646  2017-01-04  82.04  89.24    NaN       28
4           4  RPM00098646  2017-01-05  81.32  88.52  77.00       27

Last values in March, Mactan:
     Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
450         450  RPM00098646  2018-03-27  80.96  88.88    NaN       27
451         451  RPM00098646  2018-03-28  81.68  88.70  73.76       28
452         452  RPM00098646  2018-03-29  81.14  88.88    NaN       27
453         453  RPM00098646  2018-03-30  81.32  87.80  74.48       27
454         454  RPM00098646  2018-03-31  82.40  89.60  76.64       28

In [7]:
print(f"First values in May, Mactan:\n{mactan_may.head()}\n")
print(f"Last values in May, Mactan:\n{mactan_may.tail()}")

First values in May, Mactan:
   Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
0           0  RPM00098646  2017-01-01  79.70  86.00    NaN       26
1           1  RPM00098646  2017-01-02  79.88  85.64    NaN       27
2           2  RPM00098646  2017-01-03  82.40  88.52  76.64       28
3           3  RPM00098646  2017-01-04  82.04  89.24    NaN       28
4           4  RPM00098646  2017-01-05  81.32  88.52  77.00       27

Last values in May, Mactan:
     Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
511         511  RPM00098646  2018-05-27  87.08  92.30  80.60       31
512         512  RPM00098646  2018-05-28  86.72  93.02  81.32       30
513         513  RPM00098646  2018-05-29  86.18  90.32    NaN       30
514         514  RPM00098646  2018-05-30  83.48  90.68    NaN       29
515         515  RPM00098646  2018-05-31  84.20  91.40    NaN       29

In [8]:
print(f"First values in March, Hinatuan:\n{hinatuan_mar.head()}\n")
print(f"Last values in March, Hinatuan:\n{hinatuan_mar.tail()}")

First values in March, Hinatuan:
   Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
0        1461  RP000098755  2017-01-01  80.06  84.20  75.20       27
1        1462  RP000098755  2017-01-02  80.78  85.64  75.92       27
2        1463  RP000098755  2017-01-03  79.88  85.28    NaN       27
3        1464  RP000098755  2017-01-04  80.60  86.36  75.38       27
4        1465  RP000098755  2017-01-05  77.72  89.06    NaN       25

Last values in March, Hinatuan:
     Unnamed: 0      STATION        DATE   TEMP   MAX    MIN  Celsius
450        1911  RP000098755  2018-03-27  78.80  87.8    NaN       26
451        1912  RP000098755  2018-03-28  82.04  92.3  68.72       28
452        1913  RP000098755  2018-03-29  81.32  89.6  74.12       27
453        1914  RP000098755  2018-03-30  81.32  90.5  72.50       27
454        1915  RP000098755  2018-03-31  77.90  85.1    NaN       26

In [9]:
print(f"First values in May, Hinatuan:\n{hinatuan_may.head()}\n")
print(f"Last values in May, Hinatuan:\n{hinatuan_may.tail()}")

First values in May, Hinatuan:
   Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
0        1461  RP000098755  2017-01-01  80.06  84.20  75.20       27
1        1462  RP000098755  2017-01-02  80.78  85.64  75.92       27
2        1463  RP000098755  2017-01-03  79.88  85.28    NaN       27
3        1464  RP000098755  2017-01-04  80.60  86.36  75.38       27
4        1465  RP000098755  2017-01-05  77.72  89.06    NaN       25

Last values in May, Hinatuan:
     Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
511        1972  RP000098755  2018-05-27  82.94  93.02  77.00       28
512        1973  RP000098755  2018-05-28  83.12  91.04    NaN       28
513        1974  RP000098755  2018-05-29  81.68  92.30  74.66       28
514        1975  RP000098755  2018-05-30  76.64  81.14    NaN       25
515        1976  RP000098755  2018-05-31  81.68  90.86  72.86       28

### Part 4 (1 point)

Now you can make your temperature data from both locations and months easier to compare by printing out a few useful values.

- Use the `print()` function to show the mean, min and max Celsius temperatures for both places in March and May using the new subset dataframes (`mactan_mar`, `hinatuan_mar`, `mactan_may`, and `hinatuan_may`).

In [13]:
# YOUR CODE HERE
# mean(), min(), and max() functions were used to determine the mean, minimum, and maximum values in the data
mactan_mar_mean = mactan_mar["Celsius"].mean()
hinatuan_mar_mean = hinatuan_mar["Celsius"].mean()
mactan_may_mean = mactan_may["Celsius"].mean()
hinatuan_may_mean = hinatuan_may["Celsius"].mean()

mactan_mar_min = mactan_mar["Celsius"].min()
hinatuan_mar_min = hinatuan_mar["Celsius"].min()
mactan_may_min = mactan_may["Celsius"].min()
hinatuan_may_min = hinatuan_may["Celsius"].min()

mactan_mar_max = mactan_mar["Celsius"].max()
hinatuan_mar_max = hinatuan_mar["Celsius"].max()
mactan_may_max = mactan_may["Celsius"].max()
hinatuan_may_max = hinatuan_may["Celsius"].max()

# For a better presentation of the result, we assigned the values to another variable and created a conclusion paragraph to state the results
print (f"The means of mactan {mactan_mar_mean} in March and {mactan_may_mean} in May, while the means of hinatuan are {hinatuan_mar_mean} in March and {hinatuan_may_mean} in May. The min of mactan are {mactan_mar_min} in March and {mactan_may_min} in May, while the min of hinatuan are {hinatuan_mar_min} in March and {hinatuan_may_min} in May. The max of mactan are {mactan_mar_max} in March and {mactan_may_max} in May, while the max of hinatuan are {hinatuan_mar_max} in March and {hinatuan_may_max} in May.")

The means of mactan 27.745054945054946 in March and 27.899224806201552 in May, while the means of hinatuan are 27.094505494505494 in March and 27.16860465116279 in May. The min of mactan are 23 in March and 23 in May, while the min of hinatuan are 23 in March and 23 in May. The max of mactan are 30 in March and 31 in May, while the max of hinatuan are 30 in March and 30 in May.

### Problem 3 summary

In the spirit of [knowledge discovery](http://researcher.ibm.com/researcher/view_group.php?id=144), let's briefly interpret the results of the data analysis in Problem 3. Please answer the following questions based on the data analysis results from this problem:

- Does there seem to be a large difference in temperatures between the months?
- Is Hinatuan a much cooler place than Mactan?

Also, be sure to:

- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5

The difference in the temperatures between the months of March and May in Mactan and Hinatuan is not large. 
Based on the means of mactan and hinatuan, Hinatuan is a much cooler place than Mactan.

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4: Data analysis](Exercise-5-problem-4.ipynb)